@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.paginaPadrao {
  background-color: #fff;
  color: #000;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 2rem;
}
